.editor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .editor-container {
    flex-direction: row;
  }
}

.field-and-colorpicker-wrapper {
  width: 100%;
}

.tool-sidebar-wrapper {
  margin-bottom: 20px;
}

.notes-sidebar-wrapper {
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.notes-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.notes-sidebar div {
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .tool-sidebar-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .field-and-colorpicker-wrapper {
    width: 100%;
    padding: 0 10px;
  }

  .notes-sidebar-wrapper {
    width: 100%;
    margin-top: 20px;
  }
}
